.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  min-height: 100vh;
  color: #fff;
}

.not-found-img {
  width: 400px;
}
